<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <title>Student</title>
</head>
<body>
<div th:fragment="student-list" id="student-list">
    <div th:each="item:${students}" id="student">
        <span th:text="${item.id}"></span>
        <span th:text="${item.name}"></span>
        <span><button
                hx-confirm="confirm delete?"
                th:attr ="hx-delete=@{/student/{id}(id=${item.id})}"
                hx-swap="outerHTML"
                hx-target="closest #student"
        >delete</button></span>
    </div>
</div>
<div th:fragment="student-form" id="student-form">
    <div>
        <label for="new-student">new student</label>
        <input type="text" name="new-student" id="new-student">
        <button
                hx-post="/student"
                hx-include="#new-student"
                hx-target="#student-list"
        >submit</button>
    </div>
</div>
</body>
</html>